.apps {
  font-weight: bold;
  margin-top: -20px;
  margin-left: -38px;
}

.appsIcon {
  padding: 18px 0 0 10px;
  height: 40px;
  width: 28px;
  /* background-color: red; */
  cursor: pointer;
}
.appsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
